body
  {
    background-color: lightblue;
  }


  .menu 
  { 
    grid-area: menu;
    background-color: coral;
    margin-left: -10px;
    margin-right: -9px;
    margin-top: -8px;
  }

  .openMenu
  {
    width: 75px;
    height: 30px;
    float: right;
    color: #010101; /* Text color */
    background-color: transparent; /* Remove background color */
    border: 2px solid #010101; /* Border thickness, line style, and color */
    border-radius: 20px; /* Adds curve to border corners */
    text-transform: uppercase; /* Make letters uppercase */
    font-size: 12pt;
  }

  .menuButton
  {
    width: 75px;   /* how many pixels wide */
    height: 30px;  /* how many pixels tall */
    float: right;  /* Puts it to the right of other elements */
    color: #010101; /* Text color */
    background-color: transparent; /* Remove background color */
    border: 2px solid #010101; /* Border thickness, line style, and color */
    border-radius: 20px; /* Adds curve to border corners */
    text-transform: uppercase; /* Make letters uppercase */
    font-size: 8pt; /* font size */
  }

  .menuButton:active
  {
    width: 100px;   /* how many pixels wide */
    height: 35px;  /* how many pixels tall */
    float: right;  /* Puts it to the right of other elements */
    color: #010101; /* Text color */
    background-color: transparent; /* Remove background color */
    border: 2px solid #010101; /* Border thickness, line style, and color */
    border-radius: 20px; /* Adds curve to border corners */
    text-transform: uppercase; /* Make letters uppercase */
    font-size: 10pt; /* font size */
  }

  .title
  {  
    grid-area: title;
    font-weight: bold;
    text-align: center; 
    font-size: 30pt;
    background-color: coral;
    margin-left: -10px;
    margin-right: -10px;
  }

  .subtitle 
  { 
    grid-area: subtitle;
    text-align: center;
    font-size: 20pt;
    padding: 20px 0;
    background-color: coral;
    margin-right: -10px;
    margin-left: -10px;
  }

  .safeDriveImage
  {
    grid-area: safeDriveImage;
    padding: 20px 0;
  }

  .safeDriveHeader
  { 
    grid-area: safeDriveHeader; 
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
    padding: 20px 0;
  }

  .safeStep1Text
  { 
    grid-area: safeStep1Text; 
    text-align: center;
    font-size: 12pt;
    padding: 20px 0;
  }

  .safeStep2Text
  { 
    grid-area: safeStep2Text; 
    text-align: center;
    font-size: 12pt;
    padding: 20px 0;
  }

  .safeStep3Text
  { 
    grid-area: safeStep3Text; 
    text-align: center;
    font-size: 12pt;
    padding: 20px 0;
  }

  .safeStep4Text
  { 
    grid-area: safeStep4Text; 
    text-align: center;
    font-size: 12pt;
    padding: 20px 0;
  }

  .bdayDriveImage
  {
    grid-area: bdayDriveImage;
    padding: 20px 0;
  }

  .bdayDriveHeader
  { 
    grid-area: bdayDriveHeader; 
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
    padding: 20px 0;
  }

  .bdayStep1Text
  { 
    grid-area: bdayStep1Text; 
    text-align: center;
    font-size: 12pt;
    padding: 20px 0;
  }

  .bdayStep2Text
  { 
    grid-area: bdayStep2Text; 
    text-align: center;
    font-size: 12pt;
    padding: 20px 0;
  }

  .bdayStep3Text
  { 
    grid-area: bdayStep3Text; 
    text-align: center;
    font-size: 12pt;
    padding: 20px 0;
  }

  .bdayStep4Text
  { 
    grid-area: bdayStep4Text; 
    text-align: center;
    font-size: 12pt;
    padding: 20px 0;
  }

  .donations
  { 
    grid-area: donations; 
    text-align: center;
    font-size: 12pt;
    padding: 20px 0;
  }


  .grid-container 
  {
    display: grid;
    grid-template-areas:
      'menu menu menu menu'
      'title title title title'
      'subtitle subtitle subtitle subtitle'
      'safeDriveImage safeDriveImage safeDriveImage safeDriveImage'
      'safeDriveHeader safeDriveHeader safeDriveHeader safeDriveHeader'
      'safeStep1Text safeStep2Text safeStep3Text safeStep4Text'
      'bdayDriveImage bdayDriveImage bdayDriveImage bdayDriveImage'
      'bdayDriveHeader bdayDriveHeader bdayDriveHeader bdayDriveHeader'
      'bdayStep1Text bdayStep2Text bdayStep3Text bdayStep4Text'
      'donations donations donations donations';
  }
